/* src/components/IngredientDetail.css */

.ingredient-detail {
    display: flex;
    flex: 4;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    text-align: left;
}

.ingredient-detail img {
    max-width: 100%;
    border-radius: 25px;
    margin-bottom: 1em;
}
