body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(35deg, rgb(4, 11, 58) 1% 10%, rgb(0, 0, 0) 40% 70%, rgb(69, 4, 4) 90% 95%);
  color: white;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-left: 10em;
  margin-right: 10em;
  background: linear-gradient(35deg, rgb(4, 11, 58) 1% 10%, rgb(69, 4, 21) 90% 95%);
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0.1em;
  border-color: aliceblue;
  overflow-y: auto;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}

.login-btn {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex: 4;
  margin: 1em 10em;
  overflow-y: auto;
}

.content {

  flex-direction: column;
  overflow-y: auto;
}



