body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom left, #8b0010, rgba(6, 16, 81, 0.87));
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 11px rgb(237, 114, 217);
    width: 350px;
    height: 410px;
}

.logo {
    align-self: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.description {
    align-self: center;
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.input-field {
    align-self: center;
    width: 100%;
    height: 30px;
    padding: 9px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.actions {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.login-button {

    color: white;
    border: none;
    width: 40%;
    height: 50px;
    border-radius: 12px;
    background-color: #000000;
    cursor: pointer;
}

.forgot-password {
    color: gray;
    text-decoration: none;
}

.register-link {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}
