.sidebar {
    flex: 1;
    background: rgba(143, 120, 120, 0.32);
    border-radius: 20px;
    margin-right: 1em;
    display: flex; /* Используем Flexbox */
    align-items: start;
}

.sidebar input {
    width: 100%;
    height: 35px;
    margin: 17px;
    border-style: solid;
    border-radius: 10px;
    font-size: 1em;
}